body {
  background-color: #000;
}

h1 {
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 9px;
  width: 360px;
}

.sidebar ul li {
  margin-top: 5px;
  padding: 10px 0;
}

.sidebar a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 25px;
}

.sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 19px 0px 10px 23px;
}

.sidebar__navigation .logo {
  background: #121212;
  display: flex;
  border-radius: 8px;
}

.sidebar__navigation .logo img {
  width: 79px;
}

.text-sidebar {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  padding-left: 13px;
  vertical-align: 15%;
  letter-spacing: 0.7px;
}

.button-sidebar {
  color: #b3b3b3;
}

.button-sidebar:hover {
  color: #fff;
  transition: 0.2s;
}

.sidebar__library {
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px 8px;
  margin-top: 8px;
}

.sidebar__library__content {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px 0 16px;
}

.sidebar__library .uil-plus {
  scale: 0.85;
  color: #b3b3b3c7;
  padding: 4px;
  margin-top: -4px;
}

.sidebar__library .uil-plus:hover {
  background-color: #242424;
  color: #b3b3b3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.sidebar__library .uil-plus:after {
  content: "Criar playlist ou pasta";
  color: #fff;
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  position: absolute;
  background-color: #242424;
  transform: translate(-110px, -46px);
  padding: 8px 10px;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar__library .uil-plus:hover::after {
  opacity: 1;
  transform: translate(-85px, -43px);
}

.sidebar__library .button-sidebar:after {
  content: "Ocultar Sua Biblioteca";
  color: #fff;
  letter-spacing: 0.7px;
  font-size: 13.5px;
  font-weight: 500;
  white-space: nowrap;
  position: absolute;
  background-color: #242424;
  transform: translate(-155px, -38px);
  padding: 8px 10px;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar__library .button-sidebar:hover::after {
  opacity: 1;
  transform: translate(-155px, -38px);
}

.section-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #242424;
  padding: 20px 20px 18px;
  margin-top: 22px;
  border-radius: 8px;
}

.sidebar__library .text {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 700;
  display: block;
}

.sidebar__library .title {
  font-size: 16px;
  color: #fff;
}

.sidebar__library .subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 14px 0 23px;
}

.sidebar__library .button {
  border-radius: 999px;
  height: 32px;
  width: 110px;
  font-size: 200px;
  color: #000;
  border: none;
}

.section-podcast {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #242424;
  padding: 20px 20px 18px;
  margin-top: 22px;
  border-radius: 8px;
}

.sidebar__library__button {
  border-radius: 999px;
  height: 32px;
  font-size: 13px;
  color: #000;
  border: none;
  padding: 0 16px;
}

.sidebar .info {
  margin: 0 0 30px;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
}

.sidebar .info a {
  color: #b3b3b3;
  font-weight: 300;
  font-size: 10px;
  padding: 10px;
}

.sidebar .info a:hover {
  text-decoration: underline;
}

.sidebar .info .info__line1 {
  display: flex;
}

.sidebar .info .info__line2 {
  display: flex;
}

.sidebar .info .info__line3 {
  display: flex;
}

.languages .languages__button {
  background-color: transparent;
  border: 1px solid #878787;
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 4px 10px;
}

.languages .languages__button .uil {
  font-size: 18px;
}
