body {
  background-color: #000;
}

h1 {
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 9px;
  width: 360px;
}

.sidebar ul li {
  margin-top: 5px;
  padding: 10px 0;
}

.sidebar a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 25px;
}

.sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 19px 0px 10px 23px;
}

.sidebar__navigation .logo {
  background: #121212;
  display: flex;
  border-radius: 8px;
}

.sidebar__navigation .logo img {
  width: 79px;
}

.text-sidebar {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  padding-left: 13px;
  vertical-align: 15%;
  letter-spacing: 0.7px;
}

.sidebar__library {
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px 8px;
  margin-top: 8px;
}

.sidebar__library__content {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px 0 16px;
}

.sidebar__library .uil-plus {
  scale: 0.85;
  color: #b3b3b3c7;
}

.section-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #242424;
  padding: 22px;
  margin-top: 22px;
  border-radius: 8px;
}

.sidebar__library .text {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.7px;
  font-weight: 700;
  display: block;
}

.sidebar__library .title {
  font-size: 16px;
  color: #fff;
}

.sidebar__library .subtitle {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 14px 0 23px;
}

.sidebar__library .button {
  border-radius: 999px;
  height: 32px;
  width: 110px;
  font-size: 12.5px;
  color: #121212;
  border: none;
}

.section-podcast {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #242424;
  padding: 22px;
  margin-top: 22px;
  border-radius: 8px;
}

.sidebar__library__button {
  border-radius: 999px;
  height: 32px;
  font-size: 12.5px;
  color: #121212;
  border: none;
  padding: 0 16px;
}
