@media screen and (max-width: 1600px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .card6 {
    display: none;
  }
  .header__navigation {
  }
}

@media screen and (max-width: 1400px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .card5 {
    display: none;
  }
}

@media screen and (max-width: 1220px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header__search input {
    width: 25vw;
  }
  .sidebar {
    width: 320px;
  }
  .main-container {
    margin: 10px 4px 0 336px;
  }
  .header__navigation {
    left: 336px;
  }
  .offer__scroll-container .page-info {
    grid-template-columns: 1fr 1fr;
  }
  .card4 {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr;
  }
  .header__search input {
    width: 10vw;
  }
  .offer__scroll-container .page-info {
    grid-template-columns: 1fr;
  }
  .card3 {
    display: none;
  }
  .header__search {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .header__login .login {
    width: 80px;
    margin-left: 20px;
  }
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr;
  }
  .header__search input {
    width: 10vw;
  }
  .card2 {
    display: none;
  }
  .sidebar {
    width: 210px;
  }
  .main-container {
    margin: 10px 4px 0 226px;
  }
  .header__navigation {
    left: 226px;
  }
  .info .choices img {
    margin-right: 25px;
  }
  .sidebar .info .info__line1 {
    flex-direction: column;
  }
  .sidebar .info .info__line2 {
    flex-direction: column;
  }
  .sidebar .info .info__line3 {
    flex-direction: column;
  }
  .sidebar .title {
    margin-bottom: 25px;
  }
  .sidebar .subtitle {
    display: none;
  }
  .sidebar .title {
    display: none;
  }
  .offer__header {
    display: flex;
    flex-direction: column;
  }
  .offer__header .title-main {
    font-size: 18px;
    margin: 20px;
  }
  .offer__scroll-container .page-info {
    grid-template-columns: 1fr;
    margin: 60px 150px 30px 0;
  }
  .social-media {
    display: block;
  }
  .social-media button {
    font-size: 30px;
  }
  .sidebar__library .uil-plus {
    display: none;
  }
  .section-playlist {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 0;
  }
  .section-podcast {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 10px 0;
  }
  .sidebar__library__button {
    width: 160px;
  }
  body {
    zoom: 1fr;
  }
  .text-sidebar {
    font-size: 14px;
    padding-left: 4px;
  }
}
