@media screen and (max-width: 1600px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .header__navigation {
  }
}

@media screen and (max-width: 1400px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1220px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .header__search input {
    width: 25vw;
  }
  .sidebar {
    width: 320px;
  }
  .main-container {
    margin: 10px 4px 0 336px;
  }
  .header__navigation {
    left: 336px;
  }
  .offer__scroll-container .page-info {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 950px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr;
  }
  .header__search input {
    width: 10vw;
  }
  .offer__scroll-container .page-info {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 750px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr;
  }
  .header__search input {
    width: 10vw;
  }
}
