@media screen and (max-width: 1600px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .header__navigation {
  }
}

@media screen and (max-width: 1400px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1100px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1015px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 750px) {
  .offer__scroll-container .offer__list section {
    grid-template-columns: 1fr;
  }
}
