body {
  background-color: #000;
  font-family: var(--font-dm-sans);
}

h1 {
  color: var(--color-text-bright);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 9px;
  width: 360px;
}

.sidebar ul li {
  margin-top: 5px;
  padding: 10px 0;
}

.sidebar a {
  color: var(--color-text-sidebar);
  text-decoration: none;
  font-size: 25px;
}

.sidebar__navigation {
  background: var(--background-sidebar);
  border-radius: 8px;
  padding: 19px 0px 10px 23px;
}

.sidebar__navigation .logo {
  background: var(--background-sidebar);
  display: flex;
  border-radius: 8px;
}

.sidebar__navigation .logo img {
  width: 79px;
}

.text-sidebar {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  padding-left: 13px;
  vertical-align: 15%;
  letter-spacing: 0.7px;
}

.button-sidebar {
  color: var(--color-text-sidebar);
}

.button-sidebar:hover {
  color: var(--color-text-bright);
  transition: 0.2s;
}

.sidebar__library {
  background-color: var(--background-sidebar);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px 8px;
  margin-top: 8px;
}

.sidebar__library__content {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px 0 16px;
}

.sidebar__library .uil-plus {
  scale: 0.85;
  color: var(--color-text-sidebar);
  padding: 4px;
  margin-top: -4px;
}

.sidebar__library .uil-plus:hover {
  background-color: var(--background-sidebar-insidebox);
  color: var(--color-text-sidebar);
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.sidebar__library .uil-plus:after {
  content: "Criar playlist ou pasta";
  color: var(--color-text-bright);
  letter-spacing: 0.7px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  position: absolute;
  background-color: var(--background-sidebar-insidebox);
  transform: translate(-110px, -46px);
  padding: 8px 10px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar__library .uil-plus:hover::after {
  opacity: 1;
  transform: translate(-85px, -43px);
}

.sidebar__library .button-sidebar:after {
  content: "Ocultar Sua Biblioteca";
  color: var(--color-text-bright);
  letter-spacing: 0.7px;
  font-size: 13.5px;
  font-weight: 500;
  white-space: nowrap;
  position: absolute;
  background-color: var(--background-sidebar-insidebox);
  transform: translate(-155px, -38px);
  padding: 8px 10px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar__library .button-sidebar:hover::after {
  opacity: 1;
  transform: translate(-155px, -38px);
}

.section-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--background-sidebar-insidebox);
  padding: 20px 20px 18px;
  margin-top: 22px;
  border-radius: 8px;
}

.sidebar__library .text {
  letter-spacing: 0.5px;
  font-weight: 700;
  display: block;
}

.sidebar__library .title {
  font-size: 16px;
  color: var(--color-text-bright);
}

.sidebar__library .subtitle {
  color: var(--color-text-bright);
  font-size: 14px;
  font-weight: 300;
  padding: 14px 0 23px;
}

.sidebar__library .button {
  border-radius: 999px;
  height: 32px;
  width: 110px;
  color: var(--color-text-dark);
  border: none;
}

.section-podcast {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--background-sidebar-insidebox);
  padding: 20px 20px 18px;
  margin-top: 22px;
  border-radius: 8px;
}

.sidebar__library__button {
  border-radius: 999px;
  height: 32px;
  font-size: 13px;
  color: var(--color-text-dark);
  border: none;
  padding: 0 16px;
}

.sidebar .info {
  margin: 0 0 30px;
  font-weight: 300;
}

.sidebar .info a {
  color: var(--color-text-sidebar);
  font-weight: 300;
  font-size: 10px;
  padding: 10px;
}

.sidebar .info a:hover {
  text-decoration: underline;
}

.sidebar .info .info__line1 {
  display: flex;
}

.sidebar .info .info__line2 {
  display: flex;
}

.sidebar .info .info__line3 {
  display: flex;
}

.languages .languages__button {
  background-color: transparent;
  border: 1px solid #878787;
  border-radius: 999px;
  color: var(--color-text-bright);
  cursor: pointer;
  font-weight: 600;
  padding: 4px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languages .languages__button .uil {
  font-size: 18px;
  padding: 0 4px 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #af2896, #509bf5);
  padding: 10px;
  margin: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer div {
  position: relative;
  margin: 0 auto;
}

.footer button {
  border-radius: 999px;
  height: 48px;
  min-width: 170px;
  width: 210px;
  color: var(--background-sidebar);
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin: 0 40px 0 0;
}

.footer .text {
  letter-spacing: 0.7px;
  font-weight: 600;
  text-align: left;
  display: block;
  margin: 5px 20px 0 0;
}

.footer .title {
  font-size: 14px;
  color: var(--color-text-bright);
}

.footer .paragraph {
  color: var(--color-text-bright);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
